.Menu_bar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1920px;
    height: 157px;
    overflow: auto;
    box-sizing: border-box; 
    align-items: center;
}

.Menu_bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Menu_bar .Left_buttons img {
    margin-left: 20px;
    margin-right: 40px;
    align-items: center;
}

.Menu_bar .Right_button img {
    margin-right: 20px;
    align-items: center;
}

#homepage_button {
    width: 130px;
    height: 130px;
}

.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #C6EFF9;
    margin: 0;
}

.account{
    float: right;
}

.content { 
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -15px;
    font-size: x-large;
}

.icon_achievement {
    position: absolute;
    width: 25%;
    top: 160px;
    left: 40px;
}

.right {
    flex: 1;
}

.right p {
    text-align: right;
}

.right p span {
    display: inline-block;
    margin-right: 15px;
}

li {
    list-style: none;
}

.Achievement_button {
    display: flex;
    justify-content: space-between;
    width: 1900px;
    height: 850px;
    margin: 0 auto;
    overflow: auto;
}

.Achievement_button ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.Achievement_button li {
    float: left;
    width: 250px;
    height: 300px;
    background-color: #fcb900;
    margin-left: 100px;
    margin-right: 85px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 50px;
    border: 10px solid #525252;
}

.Achievement_button .last {
    margin-right: 0;
}
