.Menu_bar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1920px;
    height: 157px;
    overflow: auto;
    box-sizing: border-box; 
    align-items: center;
}

.Menu_bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Menu_bar .Left_buttons img {
    margin-left: 20px;
    margin-right: 40px;
    align-items: center;
}

.Menu_bar .Right_button img {
    margin-right: 20px;
    align-items: center;
}

#homepage_button {
    width: 130px;
    height: 130px;
}

.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #C6EFF9;
    margin: 0;
}

.account{
    float: right;
}

.content { 
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -15px;
    font-size: x-large;
}

.icon_achievement {
    position: absolute;
    width: 25%;
    top: 160px;
    left: 40px;
}

.right {
    flex: 1;
}

.right p {
    text-align: right;
}

.right p span {
    display: inline-block;
    margin-right: 15px;
}

li {
    list-style: none;
}

.Achievement_button {
    display: flex;
    justify-content: space-between;
    width: 1900px;
    height: 700px;
    margin-top: 80px;
    overflow: auto;
}

.Achievement_left {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 700px;
    overflow: auto;
    z-index: 2;
}

.background_left {
    position: absolute;
    width: 330px;
    height: 700px;
    margin-left: 50px;
    border-radius: 30px;
    background-color: #252525;
}

.Achievement_left ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.Achievement_left li {
    float: left;
    width: 250px;
    height: 120px;
    background-color: #fcb900;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.Achievement_left .last {
    margin-right: 0;
}

.Achievement_right {
    display: flex;
    justify-content: space-between;
    width: 1700px;
    height: 700px;
    margin: 0 auto;
    overflow: auto;
    z-index: 2;
}

.background_right {
    position: absolute;
    width: 1300px;
    height: 700px;
    margin-left: 540px;
    border-radius: 30px;
    background-color: #252525;
}

.Achievement_right li {
    width: 1200px;
    margin-left: 90px;
}

.Achievement_right ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.achievement-item {
    width: 1400px;
    height: 120px;
    background-color: #fcb900;
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.achievement-title {
    margin-left: 60px;
    color: white;
}

.achievement-progress {
    margin-right: 30px;
    color: white;
}

.achievement-item.last {
    margin-right: 0;
}