.Menu_bar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1920px;
    height: 157px;
    overflow: auto;
    box-sizing: border-box; 
    align-items: center;
}

.Menu_bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Menu_bar img {
    margin-right: 40px;
    align-items: center;
}

.background {
    width: 1920px;
    height: 1080px;
    background-color: #C6EFF9;
    margin: 0;
}

.account{
    float: right;
}

.Calendar {
    margin: 0 auto;
    margin-top: 100px;
    
    width: 1560px;
    height: 730px;
    background-color: #d1acf3;
    border-radius: 50px;
    border: 10px solid #000;
}

.CheckInIcon {
    margin-top: 10px;
    margin-bottom: -120px;
    width: 100px;
    height: 100px;
    transform: scale(0.5);
  }

.Daily_rewards {
    width: 1555px;
    height: 150px;
    background-color: #6009b1;
    border: 2px solid #6009b1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.Daily_rewards p {
    font-size: 45px;
    margin-top: 50px;
    font-weight: bold;
    color: white;

    display: flex; 
    align-items: center;
    justify-content: center;
}

.Rewards {
    display: flex;
}

.Dates {
    width: 1000px;
    height: 500px;
    margin-top: 40px;
    margin-left: 80px;
}

.Dates li {
    float: left;
    width: 70px;
    height: 60px;
    border: 6px solid #000;
    background-color: #ffdd44;
    margin-right: 15px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Dates .last {
    margin-right: 0;
}

.Text {
    width: 600px;
    height: 100px;
    margin-top: 80px;
    margin-left: -50px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    
}

.Chest img{
    width: 200px;
    height: auto;
    margin-left: 150px;
}

.Get {
    width: 300px;
    height: 80px;
    margin-left: 95px;
    font-size: 35px;
    border: 6px solid #000;
    background-color: #ffdd44;
    border-radius: 50px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}