

.angry {
    position: absolute;
    left: 832px;
    top: 305px;
    width: 282px;
    height: 274px;
}

.laugh {
    position: absolute;
    left: 639px;
    top: 707px;
    width: 257px;
    height: 277px;
}

.loudly-cry {
    position: absolute;
    left: 217px;
    top: 404px;
    width: 303px;
    height: 303px;
}

.scared {
    position: absolute;
    left: 1592px;
    top: 779px;
    width: 237px;
    height: 237px;
}

.weary {
    position: absolute;
    left: 1233px;
    top: 477px;
    width: 305px;
    height: 283px;
}

#homepage_button {
    position: absolute;
    left: 1600px;
    top: 20px;
    width: 130px;
    height: 130px;
}