.Menu_bar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1920px;
    height: 157px;
    overflow: auto;
    box-sizing: border-box; 
    align-items: center;
}

.Menu_bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Menu_bar .Left_buttons img {
    margin-left: 20px;
    margin-right: 40px;
    align-items: center;
}

.Menu_bar .Right_button img {
    margin-right: 20px;
    align-items: center;
}

#homepage_button {
    width: 130px; /* 设置宽度 */
    height: 130px; /* 设置高度 */
}

.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #C6EFF9;
    margin: 0;
}

.record_button {
    position: absolute;
    top: 157px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.record_button .record_background {
    width: 160px; /* 调整容器宽度 */
    height: 900px;
    padding: 10px; /* 设置内边距 */
    background-color: #a1e7fc; /* 设置整个区域的背景颜色 */
    position: relative; /* 使子元素定位相对于它 */
}

.top_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /* 设置图像宽度占满父容器 */
    margin-top: 25px;
    margin-left: 30px;
}

.bottom_image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%; /* 设置图像宽度占满父容器 */
    margin-bottom: 25px;
    margin-left: 30px;
    filter: grayscale(100%);
}

.Music_botton {
    position: relative;
}

/* Blue */
.Music_botton img:nth-child(1) {
    position: absolute;
    top: 350px;
    left: 770px;
    width: 220px;
    height: 220px;
}

/* Orange */
.Music_botton img:nth-child(2) {
    position: absolute;
    top: 640px;
    left: 770px;
    width: 220px;
    height: 220px;
}

/* Green */
.Music_botton img:nth-child(3) {
    position: absolute;
    top: 350px;
    left: 1060px;
    width: 220px;
    height: 220px;
}

/* Yellow */
.Music_botton img:nth-child(4) {
    position: absolute;
    top: 60px;
    left: 770px;
    width: 220px;
    height: 220px;
}

/* Red */
.Music_botton img:nth-child(5) {
    position: absolute;
    top: 350px;
    left: 480px;
    width: 220px;
    height: 220px;
}

.Mascot {
    position: absolute;
    bottom: 0;
    left: 0;
}

.Mascot img {
    width: 200px; /* 设置宽度 */
    height: auto; /* 设置高度 */
}
