.Menu_bar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1920px;
    height: 157px;
    overflow: auto;
    box-sizing: border-box; 
    align-items: center;
}

.Menu_bar > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Menu_bar .Left_buttons img {
    margin-left: 20px;
    margin-right: 40px;
    align-items: center;
}

.Menu_bar .Right_button img {
    margin-right: 20px;
    align-items: center;
}

#homepage_button {
    width: 130px;
    height: 130px;
}

.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #C6EFF9;
    margin: 0;
}

.account{
    float: right;
}

.content { 
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
    font-size: x-large;
}

.left, .right {
    flex: 1;
}

.right p {
    text-align: right;
}

li {
    list-style: none;
}

.A, .B, .C {
    margin-left: 20px;
}
  
.Record {
    height: 220px;
    margin-left: 70px;
}

.Record ul {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Record li {
    float: left;
    width: 230px;
    height: 200px;
    background-color: rgb(243, 141, 128);
    margin-right: 80px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50px;
}